<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
 

    <title>LAM Studio</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Theme CSS -->
    <link href="css/agency.css" rel="stylesheet" type='text/css'>
  


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="http://port-8080.melissa-lopez-melissaalopez2017199429.codeanyapp.com/">LAM Studio  </a>
            </div>


            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container" style="background-image: url('http://www.designyourway.net/diverse/darkpat/wallpaper_800x600_1023.jpg'); width:100%; background-repeat: no-repeat; background-size: cover;">
            <div class="intro-text">
                <div class="intro-lead-in">Scroll down to begin your LAM workout!</div>
            </div>
        </div>
    </header>
		<center>
			<div class="flex-container">
				<div class="alert alert-danger" role="alert">
					<p id="Label"><b> Workouts:</b> </p> <br>
					<table style = "width: 95%">
						<!-- Column Headers -->
						<tr>
						<MIDDLE>
							<th><center>Round 1</center></th>
							<tr>
						<!-- Row Header 1 -->
							<td><center><%=@round1%></center></td>
							</tr>
							<th><center>Round 2</center></th>
							<tr>
						<!-- Row Header 1 -->
							<td><center><%=@round2%></center></td>
							</tr>
							<th><center>Round 3</center></th>
							<tr>
						<!-- Row Header 1 -->
							<td><center><%=@round3%></center></td>
							</tr>
            	<th><center>Round 4</center></th>
							<tr>
							 <!-- Row Header 3 -->
							<td><center><%=@round4%></center></td>
							</tr>
              
			      </MIDDLE>
					</table>
				</div>
			</div>
		</center>

	
  
  

   


</body>

</html>



